* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-cadastro {
  width: 450px;
  height: 500px;
  background-color: #477fc0;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#container-cadastro h2 {
  font-size: 2rem;
  color: #ffffff;
}
#container-cadastro form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.container-input {
  margin: 10px 0 15px;
  width: 100%;
  position: relative;
}
#container-cadastro form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  margin-top: 5px;
}
input:focus {
  outline: none;
}
#container-cadastro form input.error {
  border: 2px solid rgb(235, 111, 111);
}

label {
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f1d4d4;
}
.message-error {
  color: rgb(235, 111, 111);
  font-size: 0.75rem;
  /* display: none; */
  position: absolute;
  bottom: -15px;
  left: 0;
}
